<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="./static/get_file.css">
    <script>
        function load_img() {
            fetch("{{ _UPLOAD_PATH_ }}", {
                method: "post",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body:document.getElementById("file_to_read").files[0]
            })
            .then(response => {
                document.getElementById("graph").src = response.text
            })
        }
    </script>
    <title>{{ PAGE_TITLE }}</title>
    <style>
        .upload-container:before {
            position: absolute;
            bottom: 50px;
            left: 245px;
            content: '{{ _DRAG_DROP_TEXT_ }}';
            color: #3f8188;
            font-weight: 900;
        }  
    </style>
</head>
<body>
    <h1>File Upload</h1>
    <div class="upload-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
        <input id="file_to_read" type="file" name="file">
        <input class="upload-btn" type="submit" value="Upload">
    </form>
    </div>
    <br><br><br>
    <div id="selction_menu"></div>
    <img id="graph">
</body>
</html>