body {
    background-color: rgba(28, 28, 28, 0.725);
}

h1 {
    color: white;
    background-color: darkgreen;
}

.upload-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color:white
}

.upload-container form {
    border: 1px solid darkgreen;
    background: black;
    outline: 2px dashed darkgreen;
    outline-offset: -10px;
    padding: 100px 0px 100px 250px;
    text-align: center !important;
    width: 500px;
}

.upload-btn:hover {
    background: rgb(12, 42, 4);
    color: goldenrod;
}

.upload-btn {
    color: white;
    background-color: transparent;
    margin-left: 300px;
    padding: 7px 20px;
}        